version: 2
jobs:
  build:
    parallelism: 1
    working_directory: ~/ezcater
    docker:
      - image: circleci/ruby:2.6.7
        environment:
          - PGHOST: 127.0.0.1
          - PGUSER: postgres
      - image: circleci/postgres:12.6
        environment:
          - POSTGRES_USER: postgres
          - POSTGRES_DB: sidekiq_publisher_test
          - POSTGRES_HOST_AUTH_METHOD: trust
      - image: redis:5.0
    steps:
      - checkout

      # Restore bundle cache
      - restore_cache:
          keys:
            - ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sidekiq_publisher.gemspec" }}
            - ruby-cache-{{ arch }}-{{ .Branch }}-
            - ruby-cache-

      # Bundle install dependencies
      - run: gem install bundler -v 1.17.3 --no-document
      - run: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs=4 --retry=3
      - run: bundle clean --force
      - run: bundle exec appraisal install

      # Install Postgres Client
      - run: sudo apt update && sudo apt install postgresql-client

      # Store bundle cache
      - save_cache:
          key: ruby-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile" }}-{{ checksum "sidekiq_publisher.gemspec" }}
          paths:
            - vendor/bundle

      # Run Rubocop
      - run:
          name: RuboCop
          command: bundle exec rubocop

      # Run tests for each appraisal
      - run:
          name: rails-5.2-sidekiq-5.0
          command: |
            bundle exec appraisal rails-5.2-sidekiq-5.0 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-5.2-sidekiq-5.1
          command: |
            bundle exec appraisal rails-5.2-sidekiq-5.1 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-5.2-sidekiq-5.2
          command: |
            bundle exec appraisal rails-5.2-sidekiq-5.2 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-5.2-sidekiq-6.0
          command: |
            bundle exec appraisal rails-5.2-sidekiq-6.0 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-5.2-sidekiq-6.1
          command: |
            bundle exec appraisal rails-5.2-sidekiq-6.1 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-5.2-sidekiq-6.2
          command: |
            bundle exec appraisal rails-5.2-sidekiq-6.2 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-5.2-sidekiq-6.3
          command: |
            bundle exec appraisal rails-5.2-sidekiq-6.3 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.0-sidekiq-5.2
          command: |
            bundle exec appraisal rails-6.0-sidekiq-5.2 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.0-sidekiq-6.0
          command: |
            bundle exec appraisal rails-6.0-sidekiq-6.0 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.0-sidekiq-6.1
          command: |
            bundle exec appraisal rails-6.0-sidekiq-6.1 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.0-sidekiq-6.2
          command: |
            bundle exec appraisal rails-6.0-sidekiq-6.2 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.0-sidekiq-6.3
          command: |
            bundle exec appraisal rails-6.0-sidekiq-6.3 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.0-sidekiq-6.4
          command: |
            bundle exec appraisal rails-6.0-sidekiq-6.4 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-5.2
          command: |
            bundle exec appraisal rails-6.1-sidekiq-5.2 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.0
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.0 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.1
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.1 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.2
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.2 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.3
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.3 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.4
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.4 rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.4-ddtrace-0-x
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.4-ddtrace-0-x rspec --format RspecJunitFormatter --format progress

      - run:
          name: rails-6.1-sidekiq-6.4-ddtrace-1-x
          command: |
            bundle exec appraisal rails-6.1-sidekiq-6.4-ddtrace-0-x rspec --format RspecJunitFormatter --format progress
